.App {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  margin: auto;
}

.grid-1 {
  width: 300px
}

.grid-2 {
  width: 600px
}

.grid-3 {
  width: 900px
}

.grid-4 {
  width: 1200px
}

.grid-5 {
  width: 1500px
}

.grid-item {
  width: 300px
}